body {
    padding-top: 1em;
    background: #343a40;
    margin: auto;
    width: 100%;
}

.container {
    margin: auto;
    width: auto;
    text-align-last: center
}

}

#footer {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 2.5%;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.text-muted {
    color: #868e96!important;
    margin: 5% auto;
}
