body {
    padding-top: 1em;
    background: #343a40;
    margin: auto;
    width: 100%;
}

.container {
    margin: auto;
    width: auto;
    text-align-last: center
}

}

#footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
}
