/*.page-header {
    -webkit-text-stroke: 1px white;
    color: #6ca6d8;


    text-align: center;
    background-image: url('img/CodingWithCoffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px;
    padding-top: 100px;
    padding-bottom: 100px;

}*/

.page-header p {
    font-size-adjust: 5rem;
    color: #455562;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
}

/*.page-header p {
    font-size: 20px;
    color: aliceblue;
     -webkit-text-stroke: .2px #4e8bbf;
    font-weight: 600;

}*/

.page-header h1 {
    font-size: 5rem;


}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
    max-width: 100%;
}

.card-text {
    font-size: 85%;
}

p {
    text-align: center;
}

.navbar {
    margin-bottom: .75rem;
}

body {
    background-color: aliceblue;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #455562;
    /*background-color: #455562;*/
}

footer p {
    margin-bottom: .25rem;
}

.logo {
    /* -webkit-text-stroke: 1px white;
    color: #6ca6d8;*/
    background-image: url('img/CodingWithCoffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px;
    padding-top: 100px;
    padding-bottom: 155px;
    padding-left: 30px;
}

.logo img {
    text-align: left;
    width: 59%;

}

.navbar img {
    width: 20%;
    height: 20%;
}

.collapse {
    float: right;
}



.contactContain {
    border: solid 5px black;
    margin: auto;
    text-align: left;
    width: 95%;
    margin: 2.5%;
    border-image-repeat: repeat;
}

.body {
    background: green;
}

.google-font {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
}
