/*.page-header {
    -webkit-text-stroke: 1px white;
    color: #6ca6d8;


    text-align: center;
    background-image: url('img/CodingWithCoffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 5px;
    padding-top: 100px;
    padding-bottom: 100px;

}*/

.page-header p {
  font-size-adjust: 5rem;
  color: #455562;
  -webkit-text-stroke: 1px white;
  font-weight: 900;
}

/*.page-header p {
    font-size: 20px;
    color: aliceblue;
     -webkit-text-stroke: .2px #4e8bbf;
    font-weight: 600;

}*/

.page-header h1 {
  font-size: 5rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card>img {
  margin-bottom: .75rem;
  max-width: 100%;
}

.card-text {
  font-size: 85%;
}

p {
  text-align: center;
}

.navbar {
  margin-bottom: .75rem;
}

body {
  background-color: aliceblue;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #455562;
  /*background-color: #455562;*/
}

footer p {
  margin-bottom: .25rem;
}

.logo {
  /* -webkit-text-stroke: 1px white;
    color: #6ca6d8;*/
  background-image: url('img/CodingWithCoffee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px;
  padding-top: 100px;
  padding-bottom: 155px;
  padding-left: 30px;
}

.logo img {
  text-align: left;
  width: 59%;
}

.navbar img {
  width: 20%;
  height: 20%;
}

.collapse {
  float: right;
}

.contactContain {
  border: solid 5px black;
  margin: auto;
  text-align: left;
  width: 95%;
  margin: 2.5%;
  border-image-repeat: repeat;
}

.body {
  background: green;
}

.google-font {
  font-family: 'Playfair Display', serif;
  font-size: 27px;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.center {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

h2 {
  font-size: 4rem;
  padding: 2.5% 0 2.5% 0;
}

footer {
  padding-top: 2rem;
  background-color: #343a40;
}

.col-md-12.text-center.center {
  padding-bottom: 5%;
}

.btn-lrg {
  height: 75px;
  width: 200px;
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 41px
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 31px;
    padding-bottom: 35px;
  }
}

@media only screen and (max-width: 493px) {
  .btn-lrg {
    height: 40px;
    width: 165px;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 483px) {
  footer {
    padding-top: 0rem;
  }
}

@media only screen and (max-width: 426px) {
  h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 375px) {
  h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 395px) {
  .google-font {
    font-size: 18px;
  }
  @media only screen and (max-width: 395px) {
    .btn-lrg {
      height: 33px;
      width: 117px;
      font-size: 0.9rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 320px) {
    h2 {
      font-size: 14px;
    }
    .col-md-12.text-center.center {
      padding-bottom: 5%;
    }
    h3 {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: 320px) {
    .google-font {
      font-size: 14px;
    }
    .btn-lrg {
      height: 33px;
      width: 100px;
      font-size: 0.9rem;
    }
    img.CarbettaCoding {
      margin-top: 11px;
    }
    h2 {
      margin-top: 11px;
    }
  }
  @media only screen and (max-width: 255px) {
    /* .btn-lrg {
      height: 33px;
      width: 78px;
      font-size: 0.6rem;
    } */
    .btn-lrg {
      height: 22px;
      width: 51px;
      font-size: 3px;
    }
    .google-font {
      font-size: 5px;
    }
    img.CarbettaCoding {
      width: 95%;
    }
  }

  /* @media only screen and (max-width: 250px) {
    .btn-lrg {
      height: 18px;
      width: 47px;
      font-size: 3px;
    }
    .google-font {
      font-size: 3px;
    }
} */



  /* h2 {
    margin-top: 0px;
    margin-bottom: -19px;
  }
}

footer {
  padding-top: 0rem;
  padding-bottom: 1rem;
} */

.card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
